frontend/node_modules
frontend/.next
frontend/.env.local

server/node_modules
server/.env

dashboard/node_modules
dashboard/.next
dashboard/.env.local

.gitconfig
.bash_history
.bashrc
.cache/
.config/
.lesshst
.npm/
.pm2/
.profile
.ssh/
.volta/
